.section-team-customers{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.section-team-customers-container{
    width: 80%;

    position: relative;

}







.section-team{
    display: flex;

    gap: 30px;
}

.section-team img{

    width: 50%;
    border-radius: 12px;
}

.section-team-info{
    width: 30%;
    display: flex;
    flex-direction: column;

    gap: 30px;
}
.section-team-info{
    line-height: 26px;
}

.section-team-title{

    display: grid;
    grid-template-columns: 0fr 1fr;
    gap: 10px;
}


.section-team-title h3{
    font-size: 30px;
}

.section-team-title hr{
    background-color: #B6C4B6;; 

    border-color:#B6C4B6;
    border-radius: 12px;
    width: 100%;
}



.section-customers{

    position: absolute;
    right: 0;
    top: 55%;
    width: 60%;
    height: 60%;
    border: 3px solid #B6C4B6;
    border-radius: 12px;
    background-color: white;
    
}



@media screen and (max-width: 1650px){

    .section-customers{
        top: 70%;
    }
}

@media screen and (max-width: 1450px){

    .section-team-customers-container{
    
        position: initial;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 30px;
    }
    

    .section-customers{
        position: initial;
        float: right;
        width: 60%;
        display: flex;
        justify-content: flex-end;
        margin: 40px 0;
    }
}

@media screen and (max-width: 1200px){

    .section-team-customers-container{
        align-items: center;
    }

    .section-team{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .section-team img{
        width: 100%;
    }

    .section-team-info{
        width: 100%;
        flex-direction: row;
    }

    .section-customers{

        width: 100%;
    }

}


@media screen and (max-width: 700px){

    .section-team-info{

        flex-direction: column;
    }
}