.section-contact{

    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    color: white;
    background-color: #B6C4B6;
}

.section-contact-container{
    width: 60%;
    height: 850px;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    justify-content: center;
}

.section-contact-form{

    display: flex;
    flex-direction: column;
    padding: 60px;
    background-color: #202020;
    gap: 16px;
    
    
}

.section-contact-form h2{

    font-size: 38px;
    font-weight: 700;
}

.section-contact-form p{
    font-weight: 200;
    line-height: 26px;
}


.section-contact-form ul{

    display: flex;
    flex-direction: column;
    padding: 0;
    gap:16px;
}


.section-contact-form ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 8px;
}

.section-contact-form ul li label{
    color: #F77F00;
    font-weight: 600;
}

.section-contact-form ul li input, #section-contact-messageField{
    color: #202020;
    background-color: #D6D6D6;
    border-style: solid;
    border:none ;
    border-radius: 3px;
    padding: 8px 16px;
}

.section-contact-form button{

    padding: 15px 30px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background: #163020;
    color: #D6D6D6;
    font-weight: 600;
}

.section-contact-social-media{

    padding: 40px;
    background-color: #333533;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-around;
}

.section-contact-social-media p{
    line-height: 26px;
    font-weight: 200;
}

.container-social-media-icons{
    display: flex;

    gap: 25px;
}

.container-social-media-icons svg{
    height: 25px;
}

.container-social-media-image{
   display: flex;
   
}


.container-social-media-image img{
    width: 90%;
    border-radius: 8px;
}


@media screen and (max-width: 1400px){

    .section-contact-container{

        width: 80%;
    }
}


@media screen and (max-width: 1100px){

    .section-contact-container{
        grid-template-columns: 1fr;
    }

    .section-contact-social-media{

        display: none;
    }
}


@media screen and (max-width: 1100px){

    .section-contact-container{

        width: 90%;
    }

}