.description-service-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    gap: 5px;
    height: 100%;
    overflow: hidden;
}

.description-service-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .5s;
}

.description-service-container:hover img{
    border-radius: 10px;
    transform: scale(1.09);
}



.description-service-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    height: 100%;
    width: 100%;
    top:-200%;
    left: 0;
    text-align: justify;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px;
}



.description-service-content p{
    font-size: 12px;
}

.description-service-container:hover .description-service-content{
    top: 0;
}


@media screen and (max-width: 1500px){

    .description-service-content h4{

        font-size: 12px;
    }

    .description-service-content p{
        font-size: 8px;
    }
}


@media screen and (max-width: 1500px){
 
    
    .description-service-content p{
        display: none;
    }
}