.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #EEF0E5;
    padding: 25px 0;
}

.footer-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.footer-first-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 50px 0;
}

.footer-description {
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
}


.footer-description img {
    width: 110px;
}

.footer-description p {
    line-height: 15px;
    font-family: 'Rajdhani', sans-serif;
    text-align: justify;
    font-size: 14px;
}





.footer-data {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;


}



.footer-data p, .footer-data h4,.footer-sections h4, .footer-second-section p{
    line-height: 15px;
    font-family: 'Rajdhani', sans-serif;
    text-align: justify;
    font-size: 14px;
    font-weight:400;
}

.footer-data h4, .footer-sections h4{
    font-size: 16px;
    font-weight: 700;
}


.footer-second-section p{
    font-size: 16px;
    font-weight: 500;
}


.footer-sections {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-sections ul {

    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

}

.footer-sections ul li a {
    text-decoration: none;
    color: #000000;
    line-height: 15px;
    font-family: 'Rajdhani', sans-serif;
    text-align: justify;
    font-size: 14px;
}



.footer-social-media{
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social-media a {
    width: 60px;
    height: 60px;
    color: #000;
    text-decoration: none;
    border-radius: 100px;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-media a svg{
    height: 50px;
    width: 50px;
}

.footer-second-section {

    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1400px) {

    .footer-first-section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 0;
    }


}



@media screen and (max-width: 800px) {

    .footer-first-section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        padding: 50px 0;
    }


}