@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;700&family=Ubuntu:wght@500&display=swap');

html{
    font-family: "Lato", Sans-serif;
    background-color: #ffffff;
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 110px;
}

body , h1, p, h4{
    margin: 0;
    padding: 0;
}
