

.section-aboutUs-info {
    padding: 180px 0 100px;
}

.section-aboutUs-info p {
    line-height: 26px;
    font-weight: 300;
    text-align: justify;
}

.section-aboutUs-info hr {

    border-top: 4px solid #163020;
    margin: 20px 0;
    max-width: 70px;
    opacity: 1;
    width: 100%;
}

.section-aboutUs-info h1 {
    font-size: 70px;
}


.section-aboutUs-info button {
    padding: 20px 30px;
    font-size: 16px;
    background-color: #163020;
    color: aliceblue;
    border: none;
    border-radius: 8px;
}






.section-aboutUs-social-media .icono {
    width: 60px;
    height: 60px;
    color: #000;
    text-decoration: none;
    border-radius: 100px;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-aboutUs-social-media  .icono svg{
    width: 50px;
    height: 50px;
}

.section-aboutUs-image {
    width: 50%;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 25%, #163020 25%, #163020 75%, rgba(255, 255, 255, 1) 75%);
}

.section-aboutUs-image img {
    width: 90%;
}



/* Dispositivo md  */
@media screen and (max-width:768px){

    .section-aboutUs-image{
        display: none;
    }
}